@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

body
{
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #000E4A;
    font-weight:600;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    margin-bottom: 30px;
    font-weight:400
}

.col-sm-8 p 
{
    font-size:16px;
    margin-top:5px;
}

.shiny-server-account {
    visibility: hidden
}

#datatable {
    font-size: 16px;
    background-color: #3f464b;
    color: white;
}

.well {
    background: #fff;
    border: none;
    box-shadow: none;
}

.irs-line {
    height: 5px;
    top: 26px;
    background: rgba(0, 0, 0, 0.15);
    border: 0px solid #CCC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}

.irs-line-left {
    height: 8px;
}

.irs-line-mid {
    height: 8px;
}

.irs-line-right {
    height: 8px;
}

.irs-bar {
    height: 5px;
    top: 26px;
    border-top: 1px solid #3f464b;
    border-bottom: 1px solid #3f464b;
    background: #3f464b;
}

.irs-bar-edge {
    height: 5px;
    top: 26px;
    width: 14px;
    border: 1px solid #3f464b;
    border-right: 0;
    background: #3f464b;
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
}

.irs-shadow {
    height: 2px;
    top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 17px;
    width: 22px;
    height: 22px;
    border: 0px solid #AAA;
    background: #fff;
    border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#irs-active-slider,
.irs-slider:hover {
    background: #FFF;
}

.irs-min,
.irs-max {
    color: #fff;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from,
.irs-to,
.irs-single {
    color: #fff;
    font-size: 11px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 3px;
    background: #3f464b;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.help-block {
    color: #fff
}

.selectize-input {
    border: 1px solid #cccccc5c;
    border-radius: 2px;
}

.rChart {
    width: 100% !important;
}


/* tabs */

.tab-content {
    box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 3px 3px;
    margin-bottom:25px;
}

.nav-tabs>li {
    font-size: 16px;
    font-weight: 600;
}

.nav-tabs>li a {
    color: #666;
    font-weight: 400
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #000d49;
    font-weight: 600;
}

.checkbox, .radio
{
    background:#efefef;
    color:#fff;
    font-weight:100;
    padding:10px 20px 10px 15px;
    display:inline-block;
    border-radius:30px;
    font-weight:300;
    font-size:12px;
    margin-bottom:12px;
    color: #000d49;
    border:1px solid #eee;
    margin-right:3px;
    transition:all ease-in-out .3s;
}

.checkbox:hover, .radio:hover
{
    border:1px solid #000d49;
}

.btn
{
    background:#000d49;
    color:#fff;
    border:none;
    text-transform:uppercase;
    padding:15px;
    font-size:11px;
    font-weight:200;
    margin-right:5px;
    margin-bottom:5px;
    transition:all ease-in-out .3s;
    border:1px solid #000d49;
}

.btn:hover
{
    background:#fff;
    color:#000d49;
    border:1px solid #000d49;
}

.btn i
{
    margin-right:5px;
}